<li>
  <h4 class = "card-top" style = "color: white;list-style:none;  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),
  url(http://www.webcreatorbox.com/sample/images/bg-cherrybrossam.jpg);
  background-size: cover;"""><%= article.title %></h4>
  <% if article.image != "" %>
  <div class ="card-image">
    <img src ="<%= article.image %>" style ="width: 100%;">
  </div>
  <% end %>
  <div class ="card-content">
  <%= article.content %>
  </div>
  <% if user_signed_in? %>
  <div class ="card-action left-align">
<!--             <a class ="btn blue" href="/users/<%= current_user.id %>">Show</a> -->
    <a class ="btn" href="/articles/<%= article.id %>/edit" style ="background-color: #263238;font-size: 20px;border: 2px double #fff;">Edit</a>
    <a class ="btn" data-method="delete" href="/articles/<%= article.id %>" style ="background: #263238;font-size: 20px;border: 2px double #fff;">Destroy</a>
  </div>
  <% end %>
</li>
