<li>
  <h4 style = "color: white;padding-top: 20px;"><%= article.title %></h4>
  <% if article.image != "" %>
  <div class ="card-image">
    <img src ="<%= article.image %>" width = "100%">
  </div>
  <% end %>
  <div class ="card-content" style = "font-size: 30px;">
  <%= article.content %>
  </div>
  <% if user_signed_in? %>
  <div class ="card-action left-align">
<!--             <a class ="btn blue" href="/users/<%= current_user.id %>">Show</a> -->
    <a class ="btn" href="/articles/<%= article.id %>/edit" style ="background: rgba(255,255,255,.7);color: #33CC33;font-size: 20px;border: 2px double #fff;">Edit</a>
    <a class ="btn" data-method="delete" href="/articles/<%= article.id %>" style ="background: rgba(255,255,255,.7);color: #FF3333;font-size: 20px;border: 2px double #fff;">Destroy</a>
  </div>
  <% end %>
</li>
