
  <div class="col s12 m6">
   <h6 class="header"><%= article.title %></h6>
  <div class="card horizontal" style = "font-weight: 200px;">
  <% if article.image != "" %>
    <div class ="card-image" style = "width:30%;" >
    <img src ="<%= article.image %>" style = "height:150px;">
    </div>
  <% end %>
  <div class="card-stacked">
   <div class ="card-content" style = "color:gray;font-size:15px">
  <p><%= article.content %></p>
  </div>
  <div class ="card-action">
  <% if user_signed_in? %>
    <a class ="btn" href="/articles/<%= article.id %>/edit" style ="background-color: black;font-size: 15px;border: 2px double #fff;">Edit</a>
    <a class ="btn" data-method="delete" href="/articles/<%= article.id %>" style ="background: white;color:black;font-size: 15px;border: 2px double #fff;">Destroy</a>
  <% else %>
  <a href="/articles/<%= article.id %>">Read More</a>
  <% end %>
  </div>
  </div>
  </div>
  </div>