<div class="contents row">
  <h4>Edit Article</h4>
    <%= form_for @articles do |f| %>
      <p>
        <%= f.label :image, "image url" %><br>
        <%= f.text_area :image %>
      </p>
      <p>
        <%= f.label :title, "title" %><br>
        <%= f.text_area :title %>
      </p>
      <p>
        <%= f.label :content, "content" %><br>
        <%= f.text_area :content %>
      </p>
      <button class="btn waves-effect waves-light" type="submit" name="action" style ="background: black;font-size: 15px;border: 2px double #fff;">
        <%= f.submit "submit" ,style: 'background:black;color:white;'%>
      </button>
      <a class="btn" href="/" style ="background: rgba(255,255,255,.7);color: #000;font-size: 15px;border: 2px double #fff;">Back</a></br>
    <% end %>
</div>
