 <div class="contents row">
    <h4>Sign in</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

<!--  <% if devise_mapping.rememberable? -%>
      <div class="field">
          <%= f.label :remember_me %></br>
          <%= f.check_box :remember_me %></br>
      </div>
      <% end -%>
 -->       <button class="btn waves-effect waves-light" type="submit" name="action">
        <%= f.submit "submit"%>
       </button>
       <a class="btn" href="/">Back</a><br>
    <% end %>
</div>
