 <div class="contents row">
    <h4>Sign in</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" style ="background: rgba(255,255,255,.7);color: #000;font-size: 20px;border: 2px double #fff;">
        <%= f.submit "submit"%>
       </button>
      <a class="btn" href="/" style ="background: rgba(255,255,255,.7);color: #000;font-size: 20px;border: 2px double #fff;">Back</a><br>
    <% end %>
</div>
